<p-dataTable [value]="lancamentos" [paginator]="true" [rows]="5" [responsive]="true">
  <p-column field="pessoa" header="Pessoa"></p-column>
  <p-column field="descricao" header="Descrição"></p-column>
  <p-column field="dataVencimento" header="Vencimento" styleClass="col-data">
    <ng-template let-lanc="rowData" pTemplate="body">
      <span >{{lanc.dataVencimento | date:'dd/MM/y'}}</span>
    </ng-template>
  </p-column>
  <p-column field="dataPagamento" header="Pagamento" styleClass="col-data">
    <ng-template let-lanc="rowData" pTemplate="body">
      <span >{{lanc.dataPagamento | date:'dd/MM/y'}}</span>
    </ng-template>
  </p-column>
  <p-column field="valor" header="Valor" styleClass="col-valor">
    <!-- Estilização dinâmica de linhas. Certificar-se sempre de colocar
    dentro do p-column! -->
    <ng-template let-lanc="rowData" pTemplate="body">
      <span [style.color]="lanc.tipo === 'DESPESA'? 'red' : 'green'" >{{lanc.valor | currency:'BRL':true:'1.2-2'}}</span>
    </ng-template>
  </p-column>
  <p-column styleClass="col-opcoes">
      <ng-template pTemplate="body">
          <a pButton icon="fa fa-pencil" style="margin: 5px;" pTooltip="Editar" tooltipPosition="top"></a>
          <button pButton icon="fa fa-trash" class="ui-button-danger" pTooltip="Excluir" tooltipPosition="top"></button>
        </ng-template>
  </p-column>
</p-dataTable>
