<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
<nav class="navbar">
  <ul>
    <li>
        <a href="javascript:;" class="navbar-toggle" (click)="mostrarMenu = !mostrarMenu" ><i class="fa fa-bars"></i></a>
    </li>
    <li>
        <a>{{titulo}}</a>
    </li>
  </ul>
</nav>
<ul class="navbar-menu" [hidden]="!mostrarMenu">
  <div>
    <a href="javascript:;" class="navbar-close-menu" (click)="mostrarMenu = !mostrarMenu"><i class="fa fa-arrow-left"></i></a>
    <li class="navbar-menu-username">{{ auth.payload?.nome }}</li>
  </div>
  <li class="navbar-menu-menuitem" routerLinkActive="ativo" ><a routerLink="/lancamentos" *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">Lançamentos</a></li>
  <li class="navbar-menu-menuitem" routerLinkActive="ativo"><a routerLink="/pessoas" *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')">Pessoas</a></li>
  <li class="navbar-menu-menuitem"><a href="#">Logout</a></li>
</ul>
