<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
<app-navbar [titulo]="'Lançamentos'"></app-navbar>
<div class="container">
  <div class="ui-g">

    <div class="ui-g-12 ui-fluid">
      <label>Descrição</label>
      <input type="text" pInputText>
    </div>

    <div class="ui-g-12">
      <label style="display: block">Vencimento</label>
      <input class="datefield" type="text" pInputText>

      <label style="padding: 5px">até</label>
      <input class="datefield" type="text" pInputText>

    </div>

    <div class="ui-g-12">
      <button type="submit" label="Pesquisar" pButton></button>
    </div>

    <div class="ui-g">

      <div class="ui-g-12">
        <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
      </div>

    </div>

    <div class="ui-g-12">
      <a label="Novo Lançamento" pButton></a>
    </div>

  </div>
</div>
