html{
  background-color: #002033;
}

body{
  margin-top: 80px;
  margin-left: 0%;
  margin-right: 0%;
  font-family: 'Fira Sans', sans-serif;
}

.ui-widget,
.ui-widget input{
  font-family: 'Fira Sans', sans-serif;
}


.ui-widget-content a{
  color:rgb(11, 222, 178);
}

label{
  font-weight: bold;
  color:rgb(11, 222, 178);
}

.datefield{
  max-width: 95px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.col-valor{
  width: 120px;
  text-align: right;
}

.col-data{
  width: 120px;
  text-align: center;
}

.col-opcoes{
  width: 100px;
  text-align: center;
}

.ui-widget-header .ui-button,
.ui-widget-content .ui-button,
.ui-widget.ui-button, .ui-button {
  background-image: linear-gradient(to bottom right,#69FF97, #00E4FF);
  border: none!important;
  color: #002033!important;
  border-radius: 15px;
  margin: 10px;
  padding: 3px;
}

.ui-datatable th.ui-state-default{
  color: #fff;
  background: rgb(11, 222, 178);
}

.ui-datatable .ui-paginator-bottom{
  color: #fff;
  background: rgb(11, 222, 178);
}

.ui-datatable .ui-datatable-thead>tr>th,
.ui-datatable .ui-datatable-tfoot>tr>td,
.ui-datatable .ui-datatable-data>tr>td{
  border-color: rgb(11, 222, 178);
}

.ui-inputtext,
.ui-dropdown{
  font-family: 'Fira Sans', sans-serif;
  font-size: 1em;
  color: #FFF;
  outline-style: none!important;
  background-color: transparent!important;
  border-bottom: 1px solid #a8a8a8;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
}

.ui-dropdown .ui-dropdown-trigger{
  background-color: transparent!important;
  color: rgb(11, 222, 178);
  border: none;
}

.ui-dropdown:hover{
  border:none;
}

.ui-state-default{
  outline-style: none!important;
}

.ng-tns-c4-3 .ui-inputwrapper-focus{
  outline-style: none!important;
}

.ui-inputtext.ui-state-focus,
.ui-dropdown.ui-state-focus,
.ui-inputtext:focus,
.ui-inputtext:hover,
.ui-dropdown:focus{
  color: rgb(11, 222, 178);
  outline-style: none!important;
  box-shadow: none;
  border-bottom: 1px solid rgb(11, 222, 178)!important;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
}

.validation-error-message{
  color: rgb(222, 88, 11);
}

.input-invalid{
  color: rgb(222, 88, 11);
  outline-style: none!important;
  background-color: transparent;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1em;
  width: 100%;
  padding: .25em;
  box-shadow: none;
  border-bottom: 1px solid rgb(222, 88, 11)!important;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
}

.ui-widget-header{
  background-color: #002033;
  background: #002033;
  border: 0px;
}

.ui-calendar .ui-datepicker{
  border: none;
  box-shadow: 0 0 16px #69FF97;
  border-radius: 10px;
}

.ui-dropdown .ui-dropdown-panel{
  border: none;
  box-shadow: 0 0 16px #69FF97;
  border-radius: 10px;
  background-color: #002033!important;
  color: rgb(11, 222, 178)!important;
}

.ui-calendar .ui-datepicker td>span,
.ui-datepicker td>a:hover,
.ui-dropdown-panel .ui-dropdown-list :hover{
  background-color: #00E4FF!important;
  color: #002033!important;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active{
  border: 3px solid rgb(11, 222, 178);
  color: #00E4FF;
  border-radius: 40px;
}

.ui-datepicker *,
.ui-dropdown-panel .ui-dropdown-item,
.ui-dropdown-panel .ui-dropdown-list{
  border-radius: 10px!important;
  background-color: #002033!important;
  border:none!important;
  color: rgb(11, 222, 178)!important;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight{
  color: orangered;
}

.return-link{
  color: rgb(11, 222, 178)!important;
  text-decoration: none;
}

.ui-togglebutton.ui-button.ui-state-default,
.ui-selectbutton .ui-button.ui-state-default{
  border-radius: 50px!important;
  background-color: #002033!important;
  border:3px solid rgb(11, 222, 178)!important;
  color: rgb(11, 222, 178)!important;
}

.ui-togglebutton.ui-button.ui-state-default,
.ui-selectbutton .ui-button.ui-state-active{
  background-image: linear-gradient(to bottom right,#69FF97, #00E4FF);
  border: none!important;
  color: #002033!important;
  border-radius: 15px;
  margin: 10px;
  padding: 3px;
}
