html{
  background-color: #002033
}

body{
  margin-top: 80px;
  margin-left: 0%;
  margin-right: 0%;
  font-family: 'Fira Sans', sans-serif;
}

.ui-widget{
  font-family: 'Fira Sans', sans-serif;
}


.ui-widget-content a{
  color:rgb(11, 222, 178);
}



label{
  font-weight: bold;
  color:rgb(11, 222, 178);
}

.datefield{
  max-width: 95px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.col-valor{
  width: 120px;
  text-align: right;
}

.col-data{
  width: 120px;
  text-align: center;
}

.col-opcoes{
  width: 100px;
  text-align: center;
}

.ui-button {
  background-image: linear-gradient(to bottom right,#69FF97, #00E4FF)!important;
  border: none!important;
  color: #002033!important;
  border-radius: 15px;
  margin: 10px;
}

.ui-datatable th.ui-state-default{
  color: #fff;
  background: rgb(11, 222, 178);
}

.ui-datatable .ui-paginator-bottom{
  color: #fff;
  background: rgb(11, 222, 178);
}

.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td{
  border-color: rgb(11, 222, 178);
}

.ui-inputtext{
  color: #FFF;
  background: transparent;
  border-bottom: 1px solid #3f3f3f;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
}

.ui-inputtext.ui-state-focus, .ui-inputtext:focus{
  color: rgb(11, 222, 178);
  outline-style: none!important;
  box-shadow: none;
  border-bottom: 1px solid rgb(11, 222, 178);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
}

.ui-widget-header{
  background-color: #002033;
  background: #002033;
  border: 0px;
}

.ui-calendar .ui-datepicker{
  border: none;
  box-shadow: 0 0 16px #69FF97;
  border-radius: 10px;
}

.ui-calendar .ui-datepicker td>span, .ui-datepicker td>a:hover{
  background-color: #00E4FF!important;
  color: #002033!important;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active{
  border: 3px solid rgb(11, 222, 178);
  color: #00E4FF;
  border-radius: 40px;
}

.ui-datepicker *{
  border-radius: 10px;
  background-color: #002033!important;
  border:none;
  color: rgb(11, 222, 178);
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight{
  color: orangered;
}

.return-link{
  color: rgb(11, 222, 178)!important;
  text-decoration: none;
}
