<p-dataTable [value]="pessoas" [paginator]="true" [rows]="5" [responsive]="true">
  <p-column field="nome" header="Nome"></p-column>
  <p-column field="cidade" header="Cidade"></p-column>
  <p-column field="estado" header="Estado" ></p-column>
  <p-column field="ativo" header="Status">
      <ng-template let-pss="rowData" pTemplate="body">
          <a [style.color]="pss.ativo === false ? 'red': 'green'" [pTooltip]="pss.ativo === false ? 'Ativar': 'Desativar'" tooltipPosition="top"> {{pss.ativo === false ? 'Inativo': 'Ativo'}} </a>
        </ng-template>
  </p-column>
  <p-column styleClass="col-opcoes">
      <ng-template pTemplate="body">
          <a pButton icon="fa fa-pencil" style="margin: 5px;" pTooltip="Editar" tooltipPosition="top"></a>
          <button pButton icon="fa fa-trash" class="ui-button-danger" pTooltip="Excluir" tooltipPosition="top"></button>
        </ng-template>
  </p-column>
</p-dataTable>
